<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   GenerativeAI-Info.plist
   BusinessCompanion

   Created by Gokul P on 08/06/24.
   Copyright (c) 2024 Apple. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>AIzaSyA4T2Ce-39yRoFEnc2U1i45K5ljEQXvPyo</string>
</dict>
</plist>
